<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.password">snapdeal</property>
		<property name="hibernate.connection.url">jdbc:mysql://61.16.237.59:3306/snapdeal</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.characterEncoding">utf-8</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="hibernate.format_sql">true</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.use_sql_comments">true</property>

		<mapping class="com.snapdeal.ums.core.entity.SDWallet" />
		<mapping class="com.snapdeal.ums.core.entity.SDWalletHistory" />
		<mapping class="com.snapdeal.ums.core.entity.SDWalletTransaction" />
		<mapping class="com.snapdeal.ums.core.entity.SDWalletActivityType" />

		<mapping class="com.snapdeal.core.entity.AccessControl" />
		<mapping class="com.snapdeal.core.entity.Activity" />
		<mapping class="com.snapdeal.core.entity.ProductCategory" />
		<mapping class="com.snapdeal.core.entity.ActivityType" />
		<mapping class="com.snapdeal.core.entity.ProductCategoryProductMapping" />
		<mapping class="com.snapdeal.core.entity.AddressDetail" />
		<mapping class="com.snapdeal.core.entity.ProductExternalContent" />
		<mapping class="com.snapdeal.core.entity.AffiliateDealPrice" />
		<mapping class="com.snapdeal.core.entity.ProductHighlight" />
		<mapping class="com.snapdeal.core.entity.Affiliate" />
		<mapping class="com.snapdeal.core.entity.Product" />
		<mapping class="com.snapdeal.core.entity.ApiTemplate" />
		<mapping class="com.snapdeal.core.entity.BrowsingNode" />
		<mapping class="com.snapdeal.core.entity.NodeQuery" />
		<mapping class="com.snapdeal.core.entity.ProductOfferContent" />
		<mapping class="com.snapdeal.core.entity.Article" />
		<mapping class="com.snapdeal.core.entity.ProductOfferFreebie" />
		<mapping class="com.snapdeal.core.entity.Audit" />
		<mapping class="com.snapdeal.core.entity.ProductOfferFreebieMapping" />
		<mapping class="com.snapdeal.core.entity.BdDashboard" />
		<mapping class="com.snapdeal.core.entity.ProductOfferGroup" />
		<mapping class="com.snapdeal.core.entity.CashBackOffer" />
		<mapping class="com.snapdeal.core.entity.ProductOffer" />
		<mapping class="com.snapdeal.core.entity.Catalog" />
		<mapping class="com.snapdeal.core.entity.CatalogFreebieMapping" />
		<mapping class="com.snapdeal.core.entity.ProductOfferProductMapping" />
		<mapping class="com.snapdeal.core.entity.CatalogStatus" />
		<mapping class="com.snapdeal.core.entity.ProductOfferTabContent" />
		<mapping class="com.snapdeal.core.entity.ChannelEventPixelCode" />
		<mapping class="com.snapdeal.core.entity.ProductOfferTabContentTemplate" />
		<mapping class="com.snapdeal.core.entity.Channel" />
		<mapping class="com.snapdeal.core.entity.ProductShippingAttribute" />
		<mapping class="com.snapdeal.core.entity.City" />
		<mapping class="com.snapdeal.core.entity.ProductSuborder" />
		<mapping class="com.snapdeal.core.entity.CmsContent" />
		<mapping class="com.snapdeal.core.entity.ProductSuggestedCategoryTemplate" />
		<mapping class="com.snapdeal.core.entity.ComplaintType" />
		<mapping class="com.snapdeal.core.entity.Corporate" />
		<mapping class="com.snapdeal.core.entity.PromoCode" />
		<mapping class="com.snapdeal.core.entity.ComboTypeDetail" />
		<mapping class="com.snapdeal.core.entity.ComboPromoType" />
		<mapping class="com.snapdeal.core.entity.CustomerQuery" />
		<mapping class="com.snapdeal.core.entity.PromoCodeType" />
		<mapping class="com.snapdeal.core.entity.CustomerSurvey" />
		<mapping class="com.snapdeal.core.entity.DealCategory" />
		<mapping class="com.snapdeal.core.entity.DealFilter" />
		<mapping class="com.snapdeal.core.entity.DealFilterValue" />
		<mapping class="com.snapdeal.core.entity.DealFilterValueDealFilterMapping" />
		<mapping class="com.snapdeal.core.entity.OrderComplaint" />
		<mapping class="com.snapdeal.core.entity.DealExternalContent" />
		<mapping class="com.snapdeal.core.entity.DealFineprint" />
		<mapping class="com.snapdeal.core.entity.DealHighlight" />
		<mapping class="com.snapdeal.core.entity.DealHowItWorks" />
		<mapping class="com.snapdeal.core.entity.Deal" />
		<mapping class="com.snapdeal.core.entity.DealCityMapping" />
		<mapping class="com.snapdeal.core.entity.DealStatus" />
		<mapping class="com.snapdeal.core.entity.ReferMerchant" />
		<mapping class="com.snapdeal.core.entity.DealSuborder" />
		<mapping class="com.snapdeal.core.entity.Report" />
		<mapping class="com.snapdeal.core.entity.DealTarget" />
		<mapping class="com.snapdeal.core.entity.ReportParam" />
		<mapping class="com.snapdeal.core.entity.DealVendorPaymentDetail" />
		<mapping class="com.snapdeal.core.entity.ReportsInputs" />
		<mapping class="com.snapdeal.core.entity.ReportVariable" />
		<mapping class="com.snapdeal.core.entity.Reward" />
		<mapping class="com.snapdeal.core.entity.RewardType" />
		<mapping class="com.snapdeal.core.entity.RoleZoneMapping" />
		<mapping class="com.snapdeal.core.entity.EmailMobileAssociation" />
		<mapping class="com.snapdeal.core.entity.EmailServiceProvider" />
		<mapping class="com.snapdeal.core.entity.EmailSubscriberDetail" />
		<mapping class="com.snapdeal.core.entity.EmailSubscriber" />
		<mapping class="com.snapdeal.ums.core.entity.EmailTemplate" />
		<mapping class="com.snapdeal.core.entity.ESPFilterCityMapping" />
		<mapping class="com.snapdeal.core.entity.ESPProfileField" />
		<mapping class="com.snapdeal.core.entity.Feedback" />
		<mapping class="com.snapdeal.core.entity.GetawayDeal" />
		<mapping class="com.snapdeal.core.entity.GetawayDealCityMapping" />
		<mapping class="com.snapdeal.core.entity.GetawayExternalContent" />
		<mapping class="com.snapdeal.core.entity.GetawayFineprint" />
		<mapping class="com.snapdeal.core.entity.GetawayHighlight" />
		<mapping class="com.snapdeal.core.entity.SmsCampaign" />
		<mapping class="com.snapdeal.core.entity.GetawayHowItWorks" />
		<mapping class="com.snapdeal.core.entity.GetawaySuborder" />
		<mapping class="com.snapdeal.core.entity.SmsScheduler" />
		<mapping class="com.snapdeal.core.entity.GetFeatured" />
		<mapping class="com.snapdeal.core.entity.GiftVoucher" />
		<mapping class="com.snapdeal.core.entity.SmsTemplate" />
		<mapping class="com.snapdeal.core.entity.IntermittentTask" />
		<mapping class="com.snapdeal.core.entity.SnapdealProperty" />
		<mapping class="com.snapdeal.core.entity.IntermittentTaskParameter" />
		<mapping class="com.snapdeal.core.entity.LandingPagesConfiguration" />
		<mapping class="com.snapdeal.core.entity.Suborder" />
		<mapping class="com.snapdeal.core.entity.LegacyCatalogUrl" />
		<mapping class="com.snapdeal.core.entity.SuborderStatus" />
		<mapping class="com.snapdeal.core.entity.SuborderType" />
		<mapping class="com.snapdeal.core.entity.Link" />
		<mapping class="com.snapdeal.core.entity.SubscriberProfile" />
		<mapping class="com.snapdeal.core.entity.Locality" />
		<mapping class="com.snapdeal.core.entity.SubscriptionCmsContent" />
		<mapping class="com.snapdeal.core.entity.MobileSubscriberDetail" />
		<mapping class="com.snapdeal.core.entity.SubscriptionPages" />
		<mapping class="com.snapdeal.core.entity.MobileSubscriber" />
		<mapping class="com.snapdeal.core.entity.SuccessfulUserReferral" />
		<mapping class="com.snapdeal.core.entity.NewsletterEspMapping" />
		<mapping class="com.snapdeal.core.entity.SystemMessage" />
		<mapping class="com.snapdeal.core.entity.Newsletter" />
		<mapping class="com.snapdeal.core.entity.Task" />
		<mapping class="com.snapdeal.core.entity.OmniturePageScript" />
		<mapping class="com.snapdeal.core.entity.TaskParameter" />
		<mapping class="com.snapdeal.core.entity.OrderHistory" />
		<mapping class="com.snapdeal.core.entity.TelecomCode" />
		<mapping class="com.snapdeal.core.entity.OrderItem" />
		<mapping class="com.snapdeal.core.entity.TrackingParameter" />
		<mapping class="com.snapdeal.core.entity.Order" />
		<mapping class="com.snapdeal.core.entity.USCity" />
		<mapping class="com.snapdeal.core.entity.OrderRefund" />
		<mapping class="com.snapdeal.core.entity.OrderRefundStatus" />
		<mapping class="com.snapdeal.core.entity.OrderRefundType" />
		<mapping class="com.snapdeal.core.entity.OrderRefundMode" />
		<mapping class="com.snapdeal.core.entity.USEmailSubscriber" />
		<mapping class="com.snapdeal.core.entity.OrderShippingDetail" />
		<mapping class="com.snapdeal.core.entity.UserAddress" />
		<mapping class="com.snapdeal.core.entity.OrderStatus" />
		<mapping class="com.snapdeal.core.entity.UserInformation" />
		<mapping class="com.snapdeal.core.entity.OrderTransaction" />
		<mapping class="com.snapdeal.core.entity.User" />
		<mapping class="com.snapdeal.core.entity.PageArticle" />
		<mapping class="com.snapdeal.core.entity.UserOpenidMapping" />
		<mapping class="com.snapdeal.core.entity.PartnerPromoCode" />
		<mapping class="com.snapdeal.core.entity.UserReferral" />
		<mapping class="com.snapdeal.core.entity.PaymentCardType" />
		<mapping class="com.snapdeal.core.entity.UserReferralTracking" />
		<mapping class="com.snapdeal.core.entity.PaymentGateway" />
		<mapping class="com.snapdeal.core.entity.UserRole" />
		<mapping class="com.snapdeal.core.entity.PaymentGatewayParam" />
		<mapping class="com.snapdeal.core.entity.UserVendorReview" />
		<mapping class="com.snapdeal.core.entity.PaymentMode" />
		<mapping class="com.snapdeal.core.entity.UserZoneMapping" />
		<mapping class="com.snapdeal.core.entity.PaymentModeSubtype" />
		<mapping class="com.snapdeal.core.entity.USMerchantReferral" />
		<mapping class="com.snapdeal.core.entity.PaymentModeSubtypeMapping" />
		<mapping class="com.snapdeal.core.entity.PaymentStatus" />
		<mapping class="com.snapdeal.core.entity.Vendor" />
		<mapping class="com.snapdeal.core.entity.PgReconciliation" />
		<mapping class="com.snapdeal.core.entity.PgTransactionCharge" />
		<mapping class="com.snapdeal.core.entity.PressRelease" />
		<mapping class="com.snapdeal.core.entity.VendorOutlet" />
		<mapping class="com.snapdeal.core.entity.PressReleaseVideo" />
		<mapping class="com.snapdeal.core.entity.VendorReview" />
		<mapping class="com.snapdeal.core.entity.PricingType" />
		<mapping class="com.snapdeal.core.entity.VisaBin" />
		<mapping class="com.snapdeal.core.entity.ProductAttribute" />
		<mapping class="com.snapdeal.core.entity.Widget" />
		<mapping class="com.snapdeal.core.entity.ProductBrand" />
		<mapping class="com.snapdeal.core.entity.Zone" />
		<mapping class="com.snapdeal.core.entity.BankOtp" />
		<mapping class="com.snapdeal.core.entity.RetargetingPageScript" />
		<mapping class="com.snapdeal.core.entity.ServerInfo" />
		<mapping class="com.snapdeal.core.entity.CustomerCareActivityLog" />
		<mapping class="com.snapdeal.core.entity.RbtMobileSubscriber" />
		<mapping class="com.snapdeal.core.entity.MobileOperator" />
		<mapping class="com.snapdeal.core.entity.CatalogSales" />
		<mapping class="com.snapdeal.core.entity.Filter" />
		<mapping class="com.snapdeal.core.entity.FilterValue" />
		<mapping class="com.snapdeal.core.entity.CatalogSales" />
		<mapping class="com.snapdeal.core.entity.LandingPageContent" />
		<mapping class="com.snapdeal.core.entity.LandingPageDeal" />
		<mapping class="com.snapdeal.core.entity.Device" />
		<mapping class="com.snapdeal.core.entity.CatalogCCTag" />
		<mapping class="com.snapdeal.core.entity.CatalogSeo" />
		<mapping class="com.snapdeal.core.entity.CatalogProperty" />
		<mapping class="com.snapdeal.core.entity.PromoCodeFilter" />
		<mapping class="com.snapdeal.core.entity.OrderCancellationRequestReason" />
		<mapping class="com.snapdeal.core.entity.OrderCancellationRequestStatus" />
		<mapping class="com.snapdeal.core.entity.OrderCancellationRequest" />
		<mapping class="com.snapdeal.core.entity.OrderCancellationRequestHistory" />
		<mapping class="com.snapdeal.core.entity.UserSDCashHistory" />
		<mapping class="com.snapdeal.core.entity.BrandSeo" />
		<mapping class="com.snapdeal.core.entity.SizeChart" />
		<mapping class="com.snapdeal.core.entity.SizeChartExternalContent" />
		<mapping class="com.snapdeal.core.entity.ProductBrandExternalContent" />
		<mapping class="com.snapdeal.core.entity.PromoCodeFilterSet" />
		<mapping class="com.snapdeal.core.entity.OrderType" />
		<mapping class="com.snapdeal.core.entity.RemarketingCode" />
		<mapping class="com.snapdeal.core.entity.PrimarySecondryOrderMapping" />
		<mapping class="com.snapdeal.core.entity.PrimarySecondrySuborderMapping" />
		<mapping class="com.snapdeal.core.entity.MarketingLandingPageContent" />
		<mapping class="com.snapdeal.core.entity.MarketingLandingPageHook" />
		<mapping class="com.snapdeal.core.entity.DealEvent" />
		<mapping class="com.snapdeal.core.entity.ProductPrebook"/>
		<mapping class="com.snapdeal.core.entity.PersonalizationWidgetMapping"/>
		<mapping class="com.snapdeal.core.entity.DealVendorOutlet" />
		<mapping class="com.snapdeal.core.entity.ComsCatalogAttributeMapping" />
		<mapping class="com.snapdeal.core.entity.CatalogPendingImageDownload" />
		<mapping class="com.snapdeal.core.entity.CatalogWorkflowStatus" />

	</session-factory>
</hibernate-configuration>