snapdeal.notifier.email.octaneServiceUrl=<%= @snapdeal_notifier_email_octaneserviceurl %>
snapdeal.notifier.email.octaneClientName=<%= @snapdeal_notifier_email_octaneclientname %>
snapdeal.notifier.email.octaneTriggerId=<%= @snapdeal_notifier_email_octanetriggerid %>

snapdeal.ims.email.createuser.template=<%= @snapdeal_ims_email_createuser_template %>
snapdeal.ims.email.createuser.guest.template=<%= @snapdeal_ims_email_createuser_guest_template %>
snapdeal.ims.email.forgotpassword.template=<%= @snapdeal_ims_email_forgotpassword_template %>
snapdeal.identity.ums.url=<%= @snapdeal_identity_ums_url  %>

snapdeal.sms.clientName=<%= @snapdeal_sms_clientname %>

snapdeal.sms.clientUrl=<%= @snapdeal_sms_clienturl %>

fc.ums.url=<%= @fc_ums_url %>

snapdeal.payments.sdmoney.clientName=<%= @snapdeal_payments_sdmoney_clientname %>
snapdeal.payments.sdmoney.clientKey=<%= @snapdeal_payments_sdmoney_clientkey %>
snapdeal.payments.sdmoney.url=<%= @snapdeal_payments_sdmoney_url %>
snapdeal.payments.sdmoney.connectionRequestTimeout=<%= @snapdeal_payments_sdmoney_connectionrequesttimeout %>
snapdeal.payments.sdmoney.connectTimeout=<%= @snapdeal_payments_sdmoney_connecttimeout %>
snapdeal.payments.sdmoney.socketTimeout=<%= @snapdeal_payments_sdmoney_sockettimeout %>

freecharge.ums.apiTimeOut=<%= @freecharge_ums_apitimeout %>
freecharge.ums.socketTimeout=<%= @freecharge_ums_sockettimeout %>
freecharge.ums.connectionRequestTimeout=<%= @freecharge_ums_connectionrequesttimeout %>

freecharge.fortknox.accessKey=<%= @freecharge_fortknox_accesskey %>
freecharge.fortknox.secretKey=<%= @freecharge_fortknox_secretkey %>
freecharge.fortknox.connectTimeout=<%= @freecharge_fortknox_connecttimeout %>
freecharge.fortknox.readTimeout=<%= @freecharge_fortknox_readtimeout %>
freecharge.fortknox.environment=<%= @freecharge_fortknox_environment %>

fcNotifier.host=<%= @fcnotifier_host%>
fcNotifier.port=<%= @fcnotifier_port%>
fcNotifier.apiTimeout=2000

freecharge.mojoclient.accessKey =<%= @freecharge_mojoclient_accesskey %>
freecharge.mojoclient.secretKey =<%= @freecharge_mojoclient_secretkey %>
freecharge.mojoclient.connectTimeout =<%= @freecharge_mojoclient_connecttimeout %>
freecharge.mojoclient.readTimeout =<%= @freecharge_mojoclient_readtimeout %>
freecharge.mojoclient.environment =<%= @freecharge_mojoclient_environment %>

ims.sns.access.key =<%= @ims_sns_access_key%>
ims.sns.secret.key =<%= @ims_sns_secret_key%>
ims.sns.regionName =<%= @ims_sns_regionName%>
ims.sns.topicArn  =<%= @ims_sns_topicArn%> 
