logging.level.org.springframework.boot.autoconfigure.security.authenticationmanagerconfiguration=<%= @logging_level %>

management.address=<%= @management_address %>
server.port=<%= @server_port %>

spring.velocity.checkTemplateLocation=<%= @spring_velocity_checktemplatelocation %>


security.user.name=<%= @security_user_name %>
security.user.password=<%= @security_user_password %>
security.basic.enabled=<%= @security_basic_enabled %>
management.security.role=<%= @management_security_role %>

management.health.db.enabled=<%= @management_health_db_enabled %>
management.health.diskspace.enabled=<%= @management_health_diskspace_enabled %>
management.health.mongo.enabled=<%= @management_health_mongo_enabled %>
management.health.rabbit.enabled=<%= @management_health_rabbit_enabled %>
management.health.redis.enabled=<%= @management_health_redis_enabled %>
management.health.solr.enabled=<%= @management_health_solr_enabled %>
management.health.diskspace.path=<%= @management_health_diskspace_path %>
management.health.diskspace.threshold=<%= @management_health_diskspace_threshold %>
management.health.status.order=<%= @management_health_status_order %>

snapdeal.identity.manager.cacheUpdater.delay=<%= @snapdeal_identity_manager_cacheupdater_delay %>

snapdeal.ims.activity.queuecapacity=<%= @snapdeal_ims_activity_queuecapacity%>
snapdeal.ims.activity.maxpoolsize=<%= @snapdeal_ims_activity_maxpoolsize %>
snapdeal.ims.activity.corepoolsize=<%= @snapdeal_ims_activity_corepoolsize %>

otp.length=<%= @otp_length %>
otp.expiryInMins=<%= @otp_expiryinmins %>
otp.reSendAttemptsLimit=<%= @otp_resendattemptslimit %>
otp.invalidAttemptsLimit=<%= @otp_invalidattemptslimit %>
user.blockTimeInMins=<%= @user_blocktimeinmins %>

snapdeal.email.client.reply.emailId=<%= @snapdeal_email_client_reply_emailid %>
snapdeal.email.client.fromTo.emailId=<%= @snapdeal_email_client_fromto_emailid %>

sslEnabled=<%= @sslenabled %>
javax.net.ssl.keyStoreType=<%= @javax_net_ssl_keystoretype %>
javax.net.ssl.trustStoreType=<%= @javax_net_ssl_truststoretype %>
javax.net.ssl.keyStore=<%= @javax_net_ssl_keystore %>
javax.net.ssl.trustStore=<%= @javax_net_ssl_truststore %>
javax.net.debug=<%= @javax_net_debug %>
javax.net.ssl.keyStorePassword=<%= @javax_net_ssl_keystorepassword %>
javax.net.ssl.trustStorePassword=<%= @javax_net_ssl_truststorepassword %>
