snapdeal.identity.manager.database.driverClassName=<%= @snapdeal_identity_manager_database_driverclassname %>
snapdeal.identity.manager.database.url=<%= @snapdeal_identity_manager_database_url %>
snapdeal.identity.manager.database.username=<%= @snapdeal_identity_manager_database_username %>
snapdeal.identity.manager.database.password=<%= @snapdeal_identity_manager_database_password %>
snapdeal.identity.manager.database.inititalsize=<%= @snapdeal_identity_manager_database_inititalsize %>
snapdeal.identity.manager.database.maxactive=<%= @snapdeal_identity_manager_database_maxactive %>
snapdeal.identity.manager.database.maxwait=<%= @snapdeal_identity_manager_database_maxwait %>
snapdeal.identity.manager.database.maxIdle=<%= @snapdeal_identity_manager_database_maxidle %>
snapdeal.identity.manager.database.minIdle=<%= @snapdeal_identity_manager_database_minidle %>
snapdeal.identity.manager.database.timebetweenevictionrunsmillis=<%= @snapdeal_identity_manager_database_timebetweenevictionrunsmillis %>
snapdeal.identity.manager.database.minevictableidletimemillis=<%= @snapdeal_identity_manager_database_minevictableidletimemillis %>
snapdeal.identity.manager.activityLog.database.driverClassName=<%= @snapdeal_identity_manager_activitylog_database_driverclassname %>
snapdeal.identity.manager.activityLog.database.url=<%= @snapdeal_identity_manager_activitylog_database_url %>
snapdeal.identity.manager.activityLog.database.username=<%= @snapdeal_identity_manager_activitylog_database_username %>
snapdeal.identity.manager.activityLog.database.password=<%= @snapdeal_identity_manager_activitylog_database_password %>
snapdeal.identity.manager.activityLog.database.maxactive=<%= @snapdeal_identity_manager_activitylog_database_maxactive %>
snapdeal.identity.manager.activityLog.database.maxIdle=<%= @snapdeal_identity_manager_activitylog_database_maxidle %>
snapdeal.identity.manager.activityLog.database.inititalsize=<%= @snapdeal_identity_manager_activitylog_database_inititalsize %>
snapdeal.identity.manager.activityLog.database.minIdle=<%= @snapdeal_identity_manager_activitylog_database_minidle %>
snapdeal.identity.manager.activityLog.database.timebetweenevictionrunsmillis=<%= @snapdeal_identity_manager_activitylog_database_timebetweenevictionrunsmillis %>
snapdeal.identity.manager.activityLog.database.minevictableidletimemillis=<%= @snapdeal_identity_manager_activitylog_database_minevictableidletimemillis %>
snapdeal.identity.manager.activityLog.database.maxwait=<%= @snapdeal_identity_manager_activitylog_database_maxwait %>
snapdeal.identity.manager.imsReplica.database.driverClassName=<%= @snapdeal_identity_manager_imsReplica_database_driverclassname %>
snapdeal.identity.manager.imsReplica.database.url=<%= @snapdeal_identity_manager_imsReplica_database_url %>
snapdeal.identity.manager.imsReplica.database.username=<%= @snapdeal_identity_manager_imsReplica_database_username %>
snapdeal.identity.manager.imsReplica.database.password=<%= @snapdeal_identity_manager_imsReplica_database_password %>
snapdeal.identity.manager.imsReplica.database.maxactive=<%= @snapdeal_identity_manager_imsReplica_database_maxactive %>
snapdeal.identity.manager.imsReplica.database.maxIdle=<%= @snapdeal_identity_manager_imsReplica_database_maxidle %>
snapdeal.identity.manager.imsReplica.database.inititalsize=<%= @snapdeal_identity_manager_imsReplica_database_inititalsize %>
snapdeal.identity.manager.imsReplica.database.minIdle=<%= @snapdeal_identity_manager_imsReplica_database_minidle %>
snapdeal.identity.manager.imsReplica.database.timebetweenevictionrunsmillis=<%= @snapdeal_identity_manager_imsReplica_database_timebetweenevictionrunsmillis %>
snapdeal.identity.manager.imsReplica.database.minevictableidletimemillis=<%= @snapdeal_identity_manager_imsReplica_database_minevictableidletimemillis %>
snapdeal.identity.manager.imsReplica.database.maxwait=<%= @snapdeal_identity_manager_imsReplica_database_maxwait %>
