aerospike.host=<%= @aerospike_host %>
aerospike.port=<%= @aerospike_port %>
aerospike.connection.timeout=<%= @aerospike_connection_timeout %>
aerospike.default.read.maxRetries=<%= @aerospike_default_read_maxretries %>
aerospike.default.read.sleepBetweenRetries=<%= @aerospike_default_read_sleepbetweenretries %>
aerospike.eviction.transaction.iteration.limit=<%= @aerospike_eviction_transaction_iteration_limit %>
aerospike.eviction.transaction.size=<%= @aerospike_eviction_transaction_size %>
aerospike.inconsistent.key.eviction.enabled=<%= @aerospike_inconsistent_key_eviction_enabled %>
aerospike.maxSocketIdle=<%= @aerospike_maxaocketidle %>
aerospike.maxThreads=<%= @aerospike_maxthreads %>
aerospike.sharedThreadPool=<%= @aerospike_sharedthreadpool %>
aerospike.default.read.timeout=<%= @aerospike_default_read_timeout %>

com.snapdeal.payments.payables.domain=<%= @com_snapdeal_payments_payables_domain %>
com.snapdeal.payments.payables.clientkey=<%= @com_snapdeal_payments_payables_clientkey %>
com.snapdeal.payments.payables.clientname=<%= @com_snapdeal_payments_payables_clientname %>
com.snapdeal.payments.payables.url=<%= @com_snapdeal_payments_payables_url %>
com.snapdeal.payments.payables.timeout=<%= @com_snapdeal_payments_payables_timeout %>
com.snapdeal.payments.payables.connection.request.timeout=<%= @com_snapdeal_payments_payables_connection_request_timeout %>

com.snapdeal.payments.rms.domain = <%= @com_snapdeal_payments_rms_domain %>
com.snapdeal.payments.rms.clientkey = <%= @com_snapdeal_payments_rms_clientkey %>
com.snapdeal.payments.rms.clientname = <%= @com_snapdeal_payments_rms_clientname %>
com.snapdeal.payments.rms.url =<%= @com_snapdeal_payments_rms_url %>
com.snapdeal.payments.rms.timeout =<%= @com_snapdeal_payments_rms_timeout %>
com.snapdeal.payments.rms.connection.request.timeout = <%= @com_snapdeal_payments_rms_connection_request_timeout %>

com.snapdeal.payments.rms.port=<%= @com_snapdeal_payments_rms_port %>
com.snapdeal.payments.tsm.clientkey  = <%= @com_snapdeal_payments_tsm_clientkey %>
com.snapdeal.payments.tsm.secretkey = <%= @com_snapdeal_payments_tsm_secretkey %>
com.snapdeal.payments.tsm.url = <%= @com_snapdeal_payments_tsm_url %>
com.snapdeal.payments.tsm.port = <%= @com_snapdeal_payments_tsm_port %>
com.snapdeal.payments.tsm.timeout = <%= @com_snapdeal_payments_tsm_timeout %>

com.snapdeal.payments.merchant.onboarding.clientName=<%= @com_snapdeal_payments_merchant_onboarding_clientname %>
com.snapdeal.payments.merchant.onboarding.ip=<%= @com_snapdeal_payments_merchant_onboarding_ip %>
com.snapdeal.payments.merchant.onboarding.port=<%= @com_snapdeal_payments_merchant_onboarding_port %>
com.snapdeal.payments.merchant.onboarding.timeout=<%= @com_snapdeal_payments_merchant_onboarding_timeout %>

com.snapdeal.payments.kms.domain=<%= @com_snapdeal_payments_kms_domain %>
com.snapdeal.payments.kms.clientkey=<%= @com_snapdeal_payments_kms_clientkey %>
com.snapdeal.payments.kms.clientname=<%= @com_snapdeal_payments_kms_clientname %>
com.snapdeal.payments.kms.ip=<%= @com_snapdeal_payments_kms_ip %>
com.snapdeal.payments.kms.port=<%= @com_snapdeal_payments_kms_port %>
com.snapdeal.payments.kms.envtype=<%= @com_snapdeal_payments_kms_envtype %>
com.snapdeal.payments.kms.connection.request.timeout=<%= @com_snapdeal_payments_kms_connection_request_timeout %>




com.snapdeal.payments.sdmoney.url=<%= @com_snapdeal_payments_sdmoney_url %>
com.snapdeal.payments.sdmoney.clientkey=<%= @com_snapdeal_payments_sdmoney_clientkey %>
com.snapdeal.payments.sdmoney.clientname=<%= @com_snapdeal_payments_sdmoney_clientname %>
com.snapdeal.payments.sdmoney.xAuthToken=<%= @com_snapdeal_payments_sdmoney_xauthtoken %>
com.snapdeal.payments.sdmoney.requestTimeOut=<%= @com_snapdeal_payments_sdmoney_requesttimeout %>

com.snapdeal.auth.maxKeyCheck=<%= @com_snapdeal_auth_maxkeycheck %>

