snapdeal.payments.sqs.accesskey=<%= @snapdeal_payments_sqs_accesskey %>
snapdeal.payments.sqs.region=<%= @snapdeal_payments_sqs_region %>
snapdeal.payments.sqs.secretkey=<%= @snapdeal_payments_sqs_secretkey %>
snapdeal.payments.sqs.queuename=<%= @snapdeal_payments_sqs_queuename %>
snapdeal.payments.sqs.wait.time=<%= @snapdeal_payments_sqs_wait_time %>
snapdeal.payments.sqs.visibility.time=<%= @snapdeal_payments_sqs_visibility_time %>
snapdeal.customerView.cacheUpdater.delay=<%= @snapdeal_customerview_cacheupdater_delay %>

snapdeal.payments.customer.sqs.queuename=<%= @snapdeal_payments_customer_sqs_queuename %>
snapdeal.payments.mercahnt.sqs.queuename=<%= @snapdeal_payments_mercahnt_sqs_queuename %>
