snapdeal.customerview.database.driverClassName=<%= @snapdeal_customerview_database_driverclassname %>

snapdeal.customerview.default.database.url=<%= @snapdeal_customerview_default_database_url %>
snapdeal.customerview.default.database.credential=<%= @snapdeal_customerview_default_database_credential %>
snapdeal.customerview.database.url.list=<%= @snapdeal_customerview_database_url_list %>
snapdeal.customerview.database.credentials.list=<%= @snapdeal_customerview_database_credentials_list %>

snapdeal.customerview.database.maxactive=<%= @snapdeal_customerview_database_maxactive %>
snapdeal.customerview.database.maxIdle=<%= @snapdeal_customerview_database_maxidle %>
snapdeal.customerview.database.inititalsize=<%= @snapdeal_customerview_database_inititalsize %>
snapdeal.customerview.database.minIdle=<%= @snapdeal_customerview_database_minidle %>
snapdeal.customerview.database.timebetweenevictionrunsmillis=<%= @snapdeal_customerview_database_timebetweenevictionrunsmillis %>
snapdeal.customerview.database.minevictableidletimemillis=<%= @snapdeal_customerview_database_minevictableidletimemillis %>
snapdeal.customerview.database.maxwait=<%= @snapdeal_customerview_database_maxwait %>

#database shard relation
snapdeal.customerview.databases.shard.relation=<%= @snapdeal_customerview_databases_shard_relation %>