log.folder=<%= @log_folder %>
log.app.fileName=<%= @log_app_filename %>
log.activity.fileName=<%= @log_activity_filename %>
log.metric.fileName=<%= @log_metric_filename %>
log.file.maxsize=<%= @log_file_maxsize %>
log.level=<%= @log_level %>