vaultDisable=<%= @vaultdisable %>
vaultIP=<%= @vaultip %>
port=<%= @port %>
jssecacertPath=<%= @jssecacertpath %>
keystorePath=<%= @keystorepath %>
keyPassword=<%= @keypassword %>
backendPath=<%= @backendpath %>