<div class="">

    <div class="container ">
        <div class="row login-logo">
        <div class="row login-logo">
            <h1 align="center"><img src="assets/images/Logo.png" alt="Freecharge" width="150"></h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-10 login col-md-push-3 col-sm-push-1">

                <form ng-show="vm.otpId==''" name="forgotPwdForm" class="col-xs-12 login-cont" novalidate autocomplete="off">

                        <div class="row login-title-area">
                            <div class="col-xs-12 ">
                                <h2>Reset Password</h2>
                        <span class="title" style="font-size: 15px;margin-top: 30px">Enter your login Name below and we'll
                            send you OTP to reset your password.</span></div>
                        </div>
                        <div class="row">
                            <div class="col-xs-9 col-sm-10">
                                <div class="form-group">
                                    <div class="form-control-wrapper">
                                        <input class="form-control" name="loginInput" id="loginInput" ng-class={'empty':!vm.email}
                                               ng-model="vm.email" required
                                               form-value-empty>

                                        <div class="floating-label">Enter Login Name</div>
                                        <span class="material-input"></span>
                                    </div>
                                    <div class="row">
                                        <div ng-messages="forgotPwdForm.loginInput.$error"
                                             ng-if="forgotPwdForm.loginInput.$dirty"
                                             class="login-error">
                                            <div class="error">
                                                <div ng-message="required">{{vm.requiredMessage}} login name</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-3 col-sm-2 text-center">
                                <button id="forgotButton" name="forgotButton"
                                        class="btn btn-fab btn-raised btn-material-green forgot-button"
                                        ng-disabled="forgotPwdForm.$invalid" ng-click="vm.forgotPassword()">
                                    <i class="mdi-navigation-arrow-forward"></i></button>
                            </div>
                        </div>
                    <div class="row">
                        <div class="error-msz-box" id="erorDiv" ng-if="vm.errorMessage!=''">{{vm.errorMessage}}</div>
                    </div>
                </form>

                    <div  class="col-xs-12 login-cont reset-cont" ng-show="vm.otpId!=''"
                         ng-include="'app/authentication/forgotPassword/setPassword.tmpl.html'"></div>
            </div>
        </div>
    </div>
</div>
<div id="loadMask" style="display:block" ng-if="vm.isLoading">
    <div class="f-bolt"></div>
</div>



