<form name="setPasswordForm" id="setPasswordForm" ng-controller="SetPasswordController as sp">
    <div class="row login-title-area">
        <div class="col-xs-12 ">
            <h2>Reset Password</h2>
                        <span class="title" style="font-size: 15px;margin-top: 30px">
                            Please enter below the OTP sent to your registered email id.
                        </span></div>
    </div>
    <div class="row">
        <div class="col-xs-9 col-sm-10">
            <div class="form-group">
                <div class="form-control-wrapper">
                    <input id="otpId" class="form-control"
                           ng-model="sp.otpCode"
                           name="otpId" form-value-empty required
                           ng-class={'empty':!sp.otpCode}>

                    <div class="floating-label">Enter OTP</div>
                    <span class="material-input"></span>

                    <a id="resendOtp" class="resent-otp" ng-click="sp.resendOtpClick()">Resend OTP</a>

                </div>
                <div class="row">
                    <div ng-messages="setPasswordForm.otpId.$error" ng-if="setPasswordForm.otpId.$dirty"
                         class="login-error">
                        <div class="error">
                            <div ng-message="required">{{sp.requiredMessage}} new password</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="row">
        <div class="col-xs-9 col-sm-10">
            <div class="form-group">
                <div class="form-control-wrapper">
                    <input id="newPwd" class="form-control "
                           ng-model="sp.newPwd"
                           minlength="8"
                           maxlength="16" type="password"
                           name="newPwd" required form-value-empty
                           ng-class={'empty':!sp.newPwd}>

                    <div class="floating-label">Enter New Password</div>
                    <span class="material-input"></span>
                </div>
                <div class="row">
                    <div ng-messages="setPasswordForm.newPwd.$error" ng-if="setPasswordForm.newPwd.$dirty"
                         class="login-error">
                        <div class="error">
                            <div ng-message="required">{{sp.requiredMessage}} new password</div>
                            <div ng-message="minlength"> {{sp.pwdLengthRange}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-9 col-sm-10">
            <div class="form-group">
                <div class="form-control-wrapper">
                    <input id="confirmPwd" class="form-control"
                           ng-model="sp.confirmPwd"
                           onpaste="return false;"
                           minlength="8"
                           compare-to="sp.newPwd"
                           maxlength="16" type="password"
                           name="confirmPwd" required form-value-empty
                           ng-class={'empty':!sp.confirmPwd}>
                    <div class="floating-label">Enter Confirm Password</div>
                    <span class="material-input"></span>

                </div>

                <div class="row">
                    <div ng-messages="setPasswordForm.confirmPwd.$error" ng-if="setPasswordForm.confirmPwd.$dirty"
                         class="login-error">
                        <div class="error">
                            <div ng-message="required">{{sp.requiredMessage}} confirm password</div>
                            <div ng-message="noMatch">{{sp.nomatchPassword}} 'new password'</div>
                            <div ng-message="minlength"> {{sp.pwdLengthRange}}</div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-xs-3 col-sm-2 text-center">
            <button id="submitButton" class="btn btn-fab btn-raised btn-material-green forgot-button"
                    ng-disabled="setPasswordForm.$invalid" ng-click="sp.setPassword()">
                <i class="mdi-navigation-arrow-forward"></i></button>
        </div>
    </div>
    <div class="row">
        <div class="success-msz-box" id="successDiv" ng-if="sp.successMessage!=''">{{sp.successMessage}}</div>
        <div class="error-msz-box" id="erorDiv" ng-if="sp.errorMessage!=''">{{sp.errorMessage}}</div>
    </div>

</form>
