aerospike.host=<%= @aerospike_host %>
aerospike.port=<%= @aerospike_port %>
aerospike.connection.timeout=<%= @aerospike_connection_timeout %>
aerospike.default.read.maxRetries=<%= @aerospike_default_read_maxretries %>
aerospike.default.read.sleepBetweenRetries=<%= @aerospike_default_read_sleepbetweenretries %>
aerospike.eviction.transaction.iteration.limit=<%= @aerospike_eviction_transaction_iteration_limit %>
aerospike.eviction.transaction.size=<%= @aerospike_eviction_transaction_size %>
aerospike.inconsistent.key.eviction.enabled=<%= @aerospike_inconsistent_key_eviction_enabled %>
aerospike.maxSocketIdle=<%= @aerospike_maxaocketidle%>
aerospike.maxThreads=<%= @aerospike_maxthreads %>
aerospike.sharedThreadPool=<%= @aerospike_sharedthreadpool %>
aerospike.default.read.timeout=<%= @aerospike_default_read_timeout %>

com.snapdeal.payments.payables.domain=<%= @com_snapdeal_payments_payables_domain %>
com.snapdeal.payments.payables.clientkey=<%= @com_snapdeal_payments_payables_clientkey %>
com.snapdeal.payments.payables.clientname=<%= @com_snapdeal_payments_payables_clientname %>
com.snapdeal.payments.payables.url=<%= @com_snapdeal_payments_payables_url %>
com.snapdeal.payments.payables.timeout=<%= @com_snapdeal_payments_payables_timeout %>
com.snapdeal.payments.payables.connection.request.timeout=<%= @com_snapdeal_payments_payables_connection_request_timeout %>