snapdeal.payments.sqs.accesskey=<%= @snapdeal_payments_sqs_accesskey %>
snapdeal.payments.sqs.region=<%= @snapdeal_payments_sqs_region %>
snapdeal.payments.sqs.secretkey=<%= @snapdeal_payments_sqs_secretkey %>
snapdeal.payments.sqs.queuename=<%= @snapdeal_payments_sqs_queuename %>
snapdeal.payments.sqs.wait.time=<%= @snapdeal_payments_sqs_wait_time %>
snapdeal.payments.sqs.visibility.time=<%= @snapdeal_payments_sqs_visibility_time %>
snapdeal.customerView.cacheUpdater.delay=<%= @snapdeal_customerview_cacheUpdater_delay %>

com.snapdeal.payments.merchant.onboarding.clientName=<%= @com_snapdeal_payments_merchant_onboarding_clientmame%>
com.snapdeal.payments.merchant.onboarding.ip=<%= @com_snapdeal_payments_merchant_onboarding_ip%>
com.snapdeal.payments.merchant.onboarding.port=<%= @com_snapdeal_payments_merchant_onboarding_port%>