<div class="">

    <div class="container ">
        <div class="row login-logo">
            <h1 align="center"><img src="assets/images/Logo.png" alt="Freecharge" width="150"></h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-10 login col-md-push-3 col-sm-push-1">
                <div  class="col-xs-12 login-cont reset-cont" >
                    <form name="setPasswordForm" id="setPasswordForm" >
                        <div class="row login-title-area">
                            <div class="col-xs-12 ">
                                <h2>Set Password</h2>
                        <span class="title" style="font-size: 15px;margin-top: 30px">
                            Please set your password for login
                        </span></div>
                        </div>

                        <div class="row">
                            <div class="col-xs-9 col-sm-10">
                                <div class="form-group">
                                    <div class="form-control-wrapper">
                                        <input id="newPwd" class="form-control "
                                               ng-model="vm.newPwd"
                                               minlength="8"
                                               maxlength="16" type="password"
                                               name="newPwd" required form-value-empty
                                               ng-class={'empty':!vm.newPwd}>
                                        <div class="floating-label">Enter New Password</div>
                                        <span class="material-input"></span>
                                    </div>
                                    <div class="row">
                                        <div ng-messages="setPasswordForm.newPwd.$error" ng-if="setPasswordForm.newPwd.$dirty"
                                             class="login-error">
                                            <div class="error">
                                                <div ng-message="required">{{vm.requiredMessage}} new password</div>
                                                <div ng-message="minlength"> {{vm.pwdLengthRange}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-9 col-sm-10">
                                <div class="form-group">
                                    <div class="form-control-wrapper">
                                        <input id="confirmPwd" class="form-control"
                                               ng-model="vm.confirmPwd"
                                               onpaste="return false;"
                                               minlength="8"
                                               compare-to="vm.newPwd"
                                               maxlength="16" type="password"
                                               name="confirmPwd" required form-value-empty
                                               ng-class={'empty':!vm.confirmPwd}>

                                        <div class="floating-label">Enter Confirm Password</div>
                                        <span class="material-input"></span>

                                    </div>

                                    <div class="row">
                                        <div ng-messages="setPasswordForm.confirmPwd.$error" ng-if="setPasswordForm.confirmPwd.$dirty"
                                             class="login-error">
                                            <div class="error">
                                                <div ng-message="required">{{vm.requiredMessage}} confirm password</div>
                                                <div ng-message="noMatch">{{vm.nomatchPassword}} 'new password'</div>
                                                <div ng-message="minlength"> {{vm.pwdLengthRange}}</div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="col-xs-3 col-sm-2 text-center">
                                <button id="submitButton" class="btn btn-fab btn-raised btn-material-green forgot-button"
                                        ng-disabled="setPasswordForm.$invalid" ng-click="vm.submitPassword()">
                                    <i class="mdi-navigation-arrow-forward"></i></button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="success-msz-box" id="successDiv" ng-if="vm.successMessage!=''">{{vm.successMessage}}</div>
                            <div class="error-msz-box" id="erorDiv" ng-if="vm.errorMessage!=''">{{vm.errorMessage}}</div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<div id="loadMask" style="display:block" ng-if="vm.isLoading">
    <div class="f-bolt"></div>
</div>



