ims.host=<%= @ims_host %>
ims.port=<%= @ims_port %>
ims.clientSecret=<%= @ims_clientsecret %>
ims.clientId=<%= @ims_clientid %>

wallet.protocol=<%= @wallet_protocol %>
wallet.host=<%= @wallet_host %>
wallet.clientKey=<%= @wallet_clientkey %>
wallet.clientName=<%= @wallet_clientname %>
wallet.xAuthToken=<%= @wallet_xauthtoken %>

reports.protocol=<%= @reports_protocol %>
reports.host=<%= @reports_host %>
reports.clientKey=<%= @reports_clientkey %>
reports.clientName=<%= @reports_clientname %>
  
checksum.clientid=<%= @checksum_clientid %>
checksum.clientkey=<%= @checksum_clientkey %>
fcloadingtransaction.url=<%= @fcloadingtransaction_url %>
oneCheck.url=<%= @onecheck_url %>

snapdeal.payments.sdmoney.email.url=<%= @snapdeal_payments_sdmoney_email_url %>
snapdeal.payments.sdmoney.email.clientname=<%= @snapdeal_payments_sdmoney_email_clientname %>
snapdeal.payments.sdmoney.sms.configServerBaseUrl=<%= @snapdeal_payments_sdmoney_sms_configserverbaseurl %>
snapdeal.payments.sdmoney.sms.clientname=<%= @snapdeal_payments_sdmoney_sms_clientname %>
snapdeal.payments.sdmoney.email.test=<%= @snapdeal_payments_sdmoney_email_test %>

snapdeal.sdMoneyDashboard.amazon.bucketName=<%= @snapdeal_sdmoneydashboard_amazon_bucketname %>
snapdeal.sdMoneyDashboard.amazon.destinationPrefix=<%= @snapdeal_sdmoneydashboard_amazon_destinationprefix %>
snapdeal.sdMoneyDashboard.amazon.userpanel.destinationPrefix=<%= @snapdeal_sdmoneydashboard_amazon_userpanel_destinationprefix %>
snapdeal.sdMoneyDashboard.amazon.accessKeyId=<%= @snapdeal_sdmoneydashboard_amazon_accesskeyid %>
snapdeal.sdMoneyDashboard.amazon.secretAccessKey=<%= @snapdeal_sdmoneydashboard_amazon_secretaccesskey %>
snapdeal.sdMoneyDashboard.amazon.downloadUrlExpirationTime=<%= @snapdeal_sdmoneydashboard_amazon_downloadurlexpirationtime %>
snapdeal.sdMoneyDashboard.amazon.localDownloadPath=<%= @snapdeal_sdmoneydashboard_amazon_localdownloadpath %>
snapdeal.sdMoneyDashboard.amazon.bulkrefund.destinationPrefix=<%= @snapdeal_sdmoneydashboard_amazon_bulkrefund_destinationprefix %>
snapdeal.sdmoneydashboard.amazon.bulkfos.destinationprefix=<%= @snapdeal_sdmoneydashboard_amazon_bulkfos_destinationprefix %>

bulk.localDir=<%= @bulk_localdir %>
file.size=<%= @file_size %>

TaskScheduler.executor_logs=<%= @taskscheduler_executor_logs %>
TaskScheduler.processing_threads=<%= @taskscheduler_processing_threads %>
TaskScheduler.consumer_threads =<%= @taskscheduler_consumer_threads %>
TaskScheduler.retry_count =<%= @taskscheduler_retry_count %>

mob.clientName=<%= @mob_clientname %>
mob.IP=<%= @mob_ip %>
mob.Port=<%= @mob_port %>

rms.host=<%= @rms_host %>
rms.port=<%= @rms_port %>

admin.clientKey=<%= @admin_clientkey %>
admin.clientName=<%= @admin_clientname %>
admin.url=<%= @admin_url %>
admin.connectionTimeout=<%= @admin_connectiontimeout %>
admin.connectionRequestTimeout=<%= @admin_connectionrequesttimeout %>

disbursement.host=<%= @disbursement_host %>
disbursement.clientName= <%= @disbursement_clientname %>
disbursement.clientKey= <%= @disbursement_clientkey %>

####Merchant View Config ############
payments.mv.ip=<%= @payments_mv_ip %>
payments.mv.port=<%= @payments_mv_port %>
payments.mv.clientid=<%= @payments_mv_clientid %>
payments.mv.clientkey=<%= @payments_mv_clientkey %>
payments.mv.apitimeout=<%= @payments_mv_apitimeout %>

####Aggregator Config ##############
payments.ag.ip=<%= @payments_ag_ip %>
payments.ag.port=<%= @payments_ag_port %>
payments.ag.clientid=<%= @payments_ag_clientid %>
payments.ag.clientkey=<%= @payments_ag_clientkey %>
payments.ag.apitimeout=<%= @payments_ag_apitimeout %>

#####Settlement Reports Config ######
settlementReports.protocol=<%= @settlement_reports_protocol %>
settlementReports.host=<%= @settlement_reports_host %>
settlementReports.clientKey=<%= @settlement_reports_client_key %>
settlementReports.clientName=<%= @settlement_reports_client_name %>

###TSM Admin Config ####
##TODO add back ts admin ip and port
tsm.ip=<%= @tsm_ip %>
tsm.port=<%= @tsm_port %>
tsm.clientkey=<%= @tsm_clientkey %>
tsm.clientid=<%= @tsm_clientid %>
tsm.admin.clientkey=<%= @tsm_admin_clientkey %>
tsm.admin.clientid=<%= @tsm_admin_clientid %>

### P2PEngine Config ####
p2p.ip=<%= @p2p_ip %>
p2p.port=<%= @p2p_port %>
p2p.clientId=<%= @p2p_clientid %>
p2p.clientKey=<%= @p2p_clientkey %>

### Payables Config ####
payables.clientKey=<%= @payables_clientkey %>
payables.clientName=<%= @payables_clientname %>
payables.url=<%= @payables_url %>

#### fees config ####
feeengine.clientname=<%= @feeengine_clientname %>
feeengine.clientkey=<%= @feeengine_clientkey %>
feeengine.url=<%= @feeengine_url %>

#### pms config ####
pms.client.name=<%= @pms_client_name %>
pms.client.key=<%= @pms_client_key %>
pms.client.url=<%= @pms_client_url %>
pms.client.xauthtoken=<%= @pms_client_xauthtoken %>

rdc.url=<%= @rdc_url %>


fps.client.id=<%= @fps_client_id %>
fps.client.key=<%= @fps_client_key %>
fps.client.url=<%= @fps_client_url %>

id.client.accessKey=<%= @id_client_accesskey %>
id.client.secretKey=<%= @id_client_secretkey %>
id.client.url=<%= @id_client_url %>

### cs tools config ###
cstool.client.url=<%= @cstool_client_url %>
cstool.client.timeout=<%= @cstool_client_timeout %>
cstool.client.accessKey=<%= @cstool_client_accesskey %>
cstool.client.secretKey=<%= @cstool_client_secretkey %>

#### campaign config ###
campaign.client.url=<%= @campaign_client_url %>
campaign.client.timeout=<%= @campaign_client_timeout %>

### communicator admin config ###
communicator.clientKey=<%= @communicator_clientkey %>
communicator.clientKeyString=<%= @communicator_clientkeystring %>
communicator.url=<%= @communicator_url %>
communicator.port=<%= @communicator_port %>