database.driverClassName=<%= @database_driverclassname %>
database.url=<%= @database_url %>
database.username=<%= @database_username %>
database.password=<%= @database_password %>
database.autocommit=<%= @database_autocommit %>
database.initialsize=<%= @database_initialsize %>
database.maxactive=<%= @database_maxactive %>
database.maxwait=<%= @database_maxwait %>