<div class="container">
    <div class="adduser-bg"></div>
    <div class="row">
        <div class="col-xs-12 sub-breadcrumb">
        </div>
    </div>

    <div class="row wrapper">
        <div class="col-xs-12">
            <div class="row wrapper error-padding" ng-if="vm.downloadHistoryData.length < 1">
                <div id="errorMessage" class="error-msz-box" id="successDiv">{{vm.errorMessage}}</div>
            </div>
            <div class="row" ng-if="vm.downloadHistoryData.length > 0">
                <div class="col-xs-12 downloadhistory-table">
                    <a id='downloadFileTag' ng-hide='true'></a>
                    <table id="historyTable" class="table  table-hover  table-responsive">
                        <thead>
                        <tr id="headingRow" class="active table-heading">
                            <td id="{{::headers.DISPLAY_VALUE}}" nowrap ng-repeat="headers in vm.allDownloadHeader">
                                {{::headers.DISPLAY_VALUE}}
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="{{::downloadData.timestamp}}" ng-repeat="downloadData in vm.downloadHistoryData">

                            <td ng-repeat="header in vm.downloadHeaderVal" nowrap>


                                <span ng-if="::header.KEY != 'timestamp'&&header.KEY!='viewed'">{{::downloadData[header.KEY]| capitalize}}</span>

                                <span ng-if="::header.KEY == 'timestamp'" id="ads">{{downloadData[header.KEY] | date:'d MMM yy, h:mm a'}}</span>

                                <span ng-if="header.KEY =='viewed'">
                                {{downloadData[header.KEY]==true?'Yes':downloadData[header.KEY]==false?'No':downloadData[header.KEY] | capitalize}}
                                </span>

                            </td>

                            <td nowrap align="left">
                                <input nowrap alt="download" type="image" width="26px"
                                       height="26px" ng-click="vm.downloadFiles(downloadData)"
                                       src="assets/images/downloadImage.png">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!-- <a href="javascript:void(0)" id="downloadButton" class="btn btn-default btn-raised download"
                        ng-click="vm.downloadFiles()">Download</a>-->
                </div>
            </div>

        </div>
    </div>
</div>
<div id="loadMask" style="display:block" ng-if="vm.isLoading">
    <div class="f-bolt"></div>
</div>

<!--<script>
  $.material.radio()
</script>-->
