<div class="row">
    <div class="col-xs-12 sub-breadcrumb"><!-- <a href="javascript:void(0)">Home /</a><a href="javascript:void(0)">Account/</a> <span>Change password</span--> </div>
</div>

<div class="row wrapper">
    <div class="col-xs-12">
        <div class="col-xm-12 change-password">
            <form name="passwordForm" id="passwordForm" novalidate>
                <div class="form-group clearfix">
                    <label id="oldPwdLabel" for="oldPassword" class="col-sm-2 control-label">Current Password</label>

                    <div class="col-sm-10">
                        <input class="form-control"  id="oldPassword" minlength="8"
                               maxlength="16" name="oldPassword" placeholder="Enter Current Password"
                               ng-model="vm.oldPassword" required type="password">
                        <div  ng-messages="passwordForm.oldPassword.$error" ng-if="passwordForm.oldPassword.$dirty" class="error">
                            <div  ng-message="required">{{vm.requiredMessage}} old password</div>
                            <div  ng-message="minlength"> {{vm.pwdLengthRange}}</div>
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label id="newPasswordLabel" for="newPassword" class="col-sm-2 control-label">New Password</label>
                    <div class="col-sm-10">
                        <input  class="form-control" onpaste="return false;" id="newPassword"   minlength="8"
                               maxlength="16" name="newPassword" placeholder="Enter New Password"
                               ng-model="vm.newPassword" required type="password">
                        <div  ng-messages="passwordForm.newPassword.$error" ng-if="passwordForm.newPassword.$dirty" class="error">
                            <div  ng-message="required">{{vm.requiredMessage}} new password</div>
                            <div  ng-message="minlength"> {{vm.pwdLengthRange}}</div>
                        </div>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label for="confirmPassword" class="col-sm-2 control-label">Confirm Password</label>

                    <div class="col-sm-10">
                        <input class="form-control" onpaste="return false;" compare-to="vm.newPassword"  maxlength="16"
                               id="confirmPassword"
                               minlength="8" name="confirmPassword" placeholder="Enter Confirm Password"
                               ng-model="vm.confirmPassword" required type="password">
                        <div ng-messages="passwordForm.confirmPassword.$error" ng-if="passwordForm.confirmPassword.$dirty" class="error">
                            <div ng-message="required">{{vm.requiredMessage}} confirm password</div>
                            <div ng-message="noMatch">{{vm.nomatchPassword}} 'new password'</div>
                            <div ng-message="minlength"> {{vm.pwdLengthRange}}</div>
                        </div>
                    </div>
                </div>


                <div class="form-group clearfix col-sm-12" >

                    <div class="success-msz-box" id="successDiv"  ng-if="vm.successMessage!=''">{{vm.successMessage}}</div>
                        <div class="error-msz-box" id="erorDiv" ng-if="vm.errorMessage!=''">{{vm.errorMessage}}</div>

                </div>


                <div class="form-group">
                    <div class="col-lg-10 col-sm-offset-2">
                        <button type="submit" style="background-color: #4caf50" class="btn btn-primary"
                            id="submitButton"    ng-disabled="passwordForm.$invalid" ng-click="vm.submit(passwordForm)">Submit
                            <div class="ripple-wrapper"></div>
                        </button>
                    </div>

                </div>
            </form>

        </div>




    </div>
</div>
<div id="loadMask" style="display:block" ng-if="vm.isLoading">
    <div class="f-bolt"></div>
</div>
