.recommenders/
.idea/
*.iml
*.ipr
*iws
log.folder_IS_UNDEFINED
target
/target/


/Practice/
/APITest/
/CustomerViewService/.classpath
/CustomerViewService/.gitignore
/CustomerViewService/.project
/CustomerViewService/.settings/
/CustomerViewService/.metadata
/CustomerViewService/.git
/CustomerViewService/target/
/CustomerViewService/.mvn/
/CustomerViewService/.springBeans
/CustomerViewService/mvnw
/CustomerViewService/bin
/CustomerViewService/mvnw.cmd

/CustomerViewClient/.classpath
/CustomerViewClient/.gitignore
/CustomerViewClient/.project
/CustomerViewClient/.settings/
/CustomerViewClient/.metadata
/CustomerViewClient/.git
/CustomerViewClient/target/
/CustomerViewClient/.mvn/
/CustomerViewClient/.springBeans
/CustomerViewClient/mvnw
/CustomerViewClient/mvnw.cmd

/CustomerViewCommons/.classpath
/CustomerViewCommons/.gitignore
/CustomerViewCommons/.project
/CustomerViewCommons/.settings/
/CustomerViewCommons/.metadata
/CustomerViewCommons/.git
/CustomerViewCommons/target/
/CustomerViewCommons/.mvn/
/CustomerViewCommons/.springBeans
/CustomerViewCommons/mvnw
/CustomerViewCommons/bin
/CustomerViewCommons/mvnw.cmd

PaymentsViewAdminClient/.classpath
PaymentsViewAdminClient/.project
PaymentsViewAdminClient/.settings/

*~
/target
/logs
/.git
/.metadata
/.settings
/.classpath
/.project


