<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">




	<!-- Rolling file Appender -->
	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/logs/server.log" />
		<param name="Append" value="true" />
		<param name="Threshold" value="INFO" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{HH:mm:ss,SSS} #%X{requestId} #%X{adminUser} %-5p [%C{1}] - %m%n" />
		</layout>
	</appender>

	<!-- For AUDITING -->
	<appender name="AuditingLogger" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/logs/audit.log" />
		<param name="Append" value="true" />
		<param name="Threshold" value="INFO" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{HH:mm:ss,SSS} #%X{requestId} #%X{adminUser} %-5p [%C{1}] - %m%n" />
		</layout>
	</appender>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<param name="Threshold" value="INFO" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{HH:mm:ss,SSS} #%X{requestId} %R  %-5p [%C{1}] - %m%n" />
		</layout>
	</appender>

	<appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
		<param name="BufferSize" value="5000" />
		<appender-ref ref="FILE" />
	</appender>



	<logger name="org.jboss.resteasy">
		<level value="OFF" />
		<appender-ref ref="FILE" />
	</logger>
	<logger name="AuditingLogger" additivity="false">
		<level value="info" />
		<appender-ref ref="AuditingLogger" />
	</logger>

	<!-- appender-ref ref="CONSOLE" / -->
	<root>
		<priority value="info"></priority>
		<appender-ref ref="FILE" />
	</root>



</log4j:configuration>
