database.driverClassName=<%= @database_driverclassname %>
database.url=<%= @database_url %>
database.username=<%= @database_username %>
database.password=<%= @database_password %>
 
 
admin.clientKey=<%= @admin_clientkey %>
admin.clientName=<%= @admin_clientname %>
admin.url=<%= @admin_url %>
admin.connectionTimeout=<%= @admin_connectiontimeout %>
admin.connectionRequestTimeout=<%= @admin_connectionrequesttimeout %>