<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Money withdrow</title>
</head>

<body>
<table cellpadding="0" cellspacing="15" border="0" bgcolor="#f0f4f5" width="100%" style="margin:0 auto; max-width:440px; font-family:arial;">
<tr bgcolor="#ffffff">
<td>
<table cellpadding="15" cellspacing="0" border="0" width="100%">
<tr>
<td valign="middle"><img src="http://i1.sdlcdn.com/static/klikpay/img/logo.png" alt="Freecharge" style="vertical-align:middle"/></td>
<td align="right">
<a href="https://play.google.com/store/apps/details?id=com.freecharge.android" target="_blank"><img src="http://i1.sdlcdn.com/static/klikpay/img/m-anrd.png" alt="and" style="padding-left:7px; padding-right:7px;vertical-align:middle"/></a>
<a href="https://itunes.apple.com/in/app/id877495926?mt=8" target="_blank"><img src="http://i1.sdlcdn.com/static/klikpay/img/m-apple.png" alt="and" style="padding-left:7px; padding-right:7px;vertical-align:middle"/></a>
<a href="https://www.microsoft.com/en-us/store/apps/freecharge-recharge-mobile-dth-data-card/9wzdncrdsr94" target="_blank"><img src="http://i1.sdlcdn.com/static/klikpay/img/m-window.png" alt="and" style="vertical-align:middle;padding-left:7px; padding-right:7px;"/></a></td>
</tr>
</table>
</td>
</tr>

<tr bgcolor="#ffffff"><td>
<table cellpadding="0" cellspacing="0" border="0">
<tr><td><img src="http://i1.sdlcdn.com/static/klikpay/img/credit-general.png" width="100%" style="max-width:415px" alt="banner"></td></tr>
<tr>

<td>
<table cellpadding="15" cellspacing="0" border="0" width="100%">
<tr><td>
<p style="margin:0; padding:0px; font-family:arial; font-size:13px; color:#121212; line-height:18px; padding-bottom:10px;">
Hi , </p>
<p style="margin:0; padding:0px; font-family:arial; font-size:13px; color:#121212; line-height:18px">
We are delighted to inform you that <strong>$creditedAmount</strong> has been successfully credited into your FreeCharge Balance. This amount will expire in 6 months so use it now!<br>
                 <span ng-bind-html="vm.trustedEmail() || vm.highlight('Text','Text')">$emailText</span> </p>
</td></tr>

</table>
</td>
</tr>
</table>
</td></tr>
<tr bgcolor="#ffffff"><td>
<table cellpadding="0" cellspacing="15" border="0" width="100%">
<tr>
<td align="center"><p style="margin:0; padding:0px; font-family:arial; font-size:13px; color:#121212; line-height:18px;"><strong>PAYMENT DETAILS</strong></p></td>
</tr>

<tr><td>


<table cellpadding="10" cellspacing="0" border="0" width="100%" style="border:solid #f4f4f4 1px">
<tbody>

<tr>
<td style="border-right:solid #f4f4f4 1px;border-bottom:solid #f4f4f4 1px;"><p style="margin:0; padding:0px; font-family:arial; font-size:12px; color:#121212; line-height:13px;"><strong>Activity </strong>  </p></td>
<td align="right" style="border-bottom:solid #f4f4f4 1px;"><span ng-bind-html="vm.trustedActivity() || vm.highlight('Activity','Activity')" style="margin:0; padding:0px; font-family:arial; font-size:12px; color:#121212; line-height:13px;">$activityText</span></td>
</tr>
<tr>
<td style="border-right:solid #f4f4f4 1px;border-bottom:solid #f4f4f4 1px;"><p style="margin:0; padding:0px; font-family:arial; font-size:12px; color:#121212; line-height:13px;"><strong>Amount Credited</strong>  </p></td>
<td align="right" style="border-bottom:solid #f4f4f4 1px;"><p style="margin:0; padding:0px; font-family:arial; font-size:12px; color:#121212; line-height:13px;">$creditedAmount</p></td>
</tr>
<tr>
<td style="border-right:solid #f4f4f4 1px;"><p style="margin:0; padding:0px; font-family:arial; font-size:12px; color:#121212; line-height:13px;"><strong>Freecharge Account Balance</strong>  </p></td>
<td align="right"><p style="margin:0; padding:0px; font-family:arial; font-size:12px; color:#121212; line-height:13px;">$totalAmount</p></td>
</tr>
</tbody></table>
</td>
</tr>
</table>
</td></tr>

<tr bgcolor="#ffffff">
<td>
<table cellpadding="25" cellspacing="0" border="0" width="100%">
              <tbody><tr>
              <td ><p align="center" style="font-size:13px;padding:0px; margin:0px; line-height:20px; 
              color:#121212">Pay with FreeCharge at</p>
              <p align="center">
              <img src="http://i1.sdlcdn.com/static/klikpay/img/merchant-logos.png"  width="100%" alt="merchant logo"></p>
              <p align="center" style="font-size:13px;padding:0px; margin:0px; line-height:13px; 
              color:#121212">And this list is only getting <span style="font-size:15px;">bigger!</span></p>
             </td>
             </tr>
             </tbody></table>
</td>
</tr>

<tr bgcolor="#ffffff"><td>
<table cellpadding="10" cellspacing="0" border="0" width="100%">
<tbody><tr>

<td align="center">
<a href="https://play.google.com/store/apps/details?id=com.freecharge.android" target="_blank" style="font-size:12px; color:#999; line-height:20px; text-decoration:none;display:block;"><img src="http://i1.sdlcdn.com/static/klikpay/img/m-anrd.png" alt="and" style="padding-left:7px; padding-right:7px;vertical-align:top;padding-top: 2px;"><span>Android</span></a>
</td>
<td align="center" style="border-right:solid 1px #dedede;border-left:solid 1px #dedede;">
<a href="https://itunes.apple.com/in/app/id877495926?mt=8" target="_blank" style="font-size:12px; color:#999; line-height:20px; text-decoration:none; display:block;"><img src="http://i1.sdlcdn.com/static/klikpay/img/m-apple.png" alt="and" style="padding-left:7px; padding-right:7px;vertical-align:top;padding-top: 2px;"> <span>Apple</span></a>
</td>
<td align="center">
<a href="https://www.microsoft.com/en-us/store/apps/freecharge-recharge-mobile-dth-data-card/9wzdncrdsr94" target="_blank" style="font-size:12px; color:#999; line-height:20px; text-decoration:none;display:block;"><img src="http://i1.sdlcdn.com/static/klikpay/img/m-window.png" alt="and" style="vertical-align:top;padding-left:7px; padding-right:7px;padding-top: 2px;"> <span>Window</span></a></td>
</tr></tbody></table></td></tr>

<tr bgcolor="#ffffff"><td>
<table cellpadding="0" cellspacing="0" border="0">
<tr><td>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr bgcolor="#ffffff"><td>
<table cellpadding="15" cellspacing="0" border="0">
<tr><td>
<table cellpadding="0" cellspacing="0" border="0" width="100%">

<tr>
<td ><p style="margin:0; padding:0px; font-family:arial; font-size:13px; color:#121212; line-height:20px;padding-bottom:20px">For any queries or concerns, write to us at <a href="mailto:care@freecharge.in" style="color:#38bef0; text-decoration:none; ">care@freecharge.in</a></p>
</td>
</tr>
<tr>
<td><p style="margin:0; padding:0px; font-family:arial; font-size:13px; color:#121212; line-height:20px; ">Best,<br/>
Team FreeCharge</p></td>
</tr>
</table>
</td>
</tr>
</table>
</td></tr>

</table>
</body>
</html>
