<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
<style>
body {
	margin: 0;
}
</style>
</head>

<body>
	<table width="100%" border="0" align="center" cellpadding="0"
		cellspacing="0" style="max-width: 730px;">
		<tr>
			<td width="30" bgcolor="#f3f3f3"
				background="http://i4.sdlcdn.com/img/eventImage/10/pattern.png"><table
					width="95%" border="0" align="center" cellpadding="0"
					cellspacing="0" style="max-width: 562px;">
					<tr>
						<td>&nbsp;</td>
					</tr>
					<tr>
						<td height="88" bgcolor="#FFFFFF"><table width="100%"
								border="0" cellspacing="0" cellpadding="0">

								<tr>
									<td height="88" valign="middle"><table width="251"
											border="0" align="center" cellpadding="0" cellspacing="0">
											<tr>
												<td height="88" align="center"><a target="_blank"
													href="http://www.snapdeal.com"><img
														src="http://i2.sdlcdn.com/img/eventImage/10/snapdeal.jpg"
														width="144" height="34" alt="" /></a></td>
											</tr>
										</table></td>
								</tr>
								<tr>
									<td height="1" bgcolor="#f2f2f2"></td>
								</tr>
								<tr>
									<td
										style="font-family: Calibri; font-size: 13px; color: #757575; font-weight: normal;"><table
											width="90%" border="0" align="center" cellpadding="0"
											cellspacing="0" style="max-width: 510px;">
											<tr>
												<td><table width="100%" border="0" align="left"
														cellpadding="0" cellspacing="0">
														<tr>
															<td align="center">&nbsp;</td>
														</tr>


														<tr>
															<td
																style="font-family: Calibri; font-size: 16px; font-weight: normal; color: #757575;"><p>Hi,</p>
																<p
																	style="margin: 0px; padding: 0px; padding-bottom: 20px">
																	<span style="font-size: 17px; color: #757575;">

																		We are excited to inform you that<strong>
																			$merchantName</strong> has successfully credited <strong>Rs.
																			$creditedAmount</strong> into your FreeCharge account. Log in to Snapdeal
																		now to avail the balance.
																	</span>
																	<span ng-bind-html="vm.trustedEmail() || vm.highlight('Text','Text')">Text</span>
																</p></td>
															
														</tr>



														<tr>
															<td
																style="font-family: Calibri; font-size: 16px; line-height: 24px; font-weight: normal; color: #757575;">
																<table cellpadding="5" cellspacing="0" border="0"
																	width="100%" align="center">
																	<tr bgcolor="#EEECEC">
																		<td align="center">Activity</td>
																		<td align="center">Amount Credited</td>
																		<td align="center">FreeCharge Account Balance</td>
																	</tr>
																	<tr bgcolor="#f9f9f9">
																		<td align="center"><span
																			ng-bind-html="vm.trustedActivity() || vm.highlight('Activity','Activity')">$Activity</span></td>
																		<td align="center">Rs.$creditedAmount</td>
																		<td align="center">Rs.$totalAmount</td>
																	</tr>

																</table>

															</td>
														</tr>

														<tr>
															<td
																style="font-family: Calibri; font-size: 17px; line-height: 24px; font-weight: normal; color: #757575">
																<p
																	style="margin: 0px; padding: 0px; font-family: Calibri; font-size: 17px; padding-top: 10px;">
																	For any query or assistance, feel free to <a
																		href="http://www.snapdeal.com/info/contactus"
																		target="_blank">Contact Us</a><br> Snapdeal Team
																</p>


															</td>
														</tr>



														<tr>
															<td
																style="font-family: Calibri; font-size: 13px; font-weight: normal; color: #5d5d5d;">&nbsp;</td>
														</tr>
													</table></td>
											</tr>
											<tr>
												<td height="1" bgcolor="#f4f4f4"></td>
											</tr>
											<tr>
												<td height="80"
													style="font-family: Calibri; font-size: 12px; color: #636363; font-weight: normal;"><table
														border="0" cellspacing="0" cellpadding="2">
														<tr>
															<td width="110" valign="top"><table width="100%"
																	border="0" cellpadding="0" cellspacing="0">
																	<tr>
																		<td width="100%" align="left"
																			style="padding: 4px; font-size: 14px;">GET OUR
																			APP</td>
																	</tr>
																	<tr>
																		<td align="left"><table border="0"
																				cellspacing="0" cellpadding="4">
																				<tr>
																					<td><a
																						href="https://itunes.apple.com/in/app/snapdeal-mobile-shopping/id721124909"><img
																							src="http://i4.sdlcdn.com/img/eventImage/10/apple.jpg"
																							width="17" height="21" alt="" /></a></td>
																					<td><a
																						href="https://play.google.com/store/apps/details?id=com.snapdeal.main"><img
																							src="http://i1.sdlcdn.com/img/eventImage/10/android.jpg"
																							width="18" height="21" alt="" /></a></td>
																					<td><a
																						href="http://www.windowsphone.com/en-in/store/app/snapdeal/ee17fccf-40d0-4a59-80a3-04da47a5553f"><img
																							src="http://i1.sdlcdn.com/img/eventImage/10/windows.jpg"
																							width="19" height="21" alt="" /></a></td>
																				</tr>
																			</table></td>
																	</tr>
																</table></td>
															<td width="10" align="left" valign="middle"><img
																src="http://i2.sdlcdn.com/img/eventImage/10/vr.jpg"
																width="1" height="35" alt="" /></td>
															<td valign="top"><table border="0" cellspacing="0"
																	cellpadding="0">
																	<tr>
																		<td align="left"
																			style="padding: 4px; font-size: 14px;">STAY
																			CONNECTED</td>
																	</tr>
																	<tr>
																		<td align="left"><table width="100%" border="0"
																				cellspacing="0" cellpadding="4">
																				<tr>
																					<td><a href="http://www.facebook.com/SnapDeal"><img
																							src="http://i2.sdlcdn.com/img/eventImage/10/facebook.jpg"
																							width="13" height="21" alt="" /></a></td>
																					<td><a href="http://www.twitter.com/snapdeal"><img
																							src="http://i1.sdlcdn.com/img/eventImage/10/twitter.jpg"
																							width="26" height="21" alt="" /></a></td>
																					<td><a
																						href="https://plus.google.com/100573109232340925417"><img
																							src="http://i1.sdlcdn.com/img/eventImage/10/googleplus.jpg"
																							width="19" height="21" alt="" /></a></td>
																					<td><a
																						href="https://www.youtube.com/user/snapdeal"><img
																							src="http://i1.sdlcdn.com/img/eventImage/10/youtube.jpg"
																							width="22" height="21" alt="" /></a></td>
																				</tr>
																			</table></td>
																	</tr>
																	<tr></tr>
																</table></td>
														</tr>
													</table></td>
											</tr>
										</table></td>
								</tr>
							</table></td>
					</tr>
					<tr>
						<td>&nbsp;</td>
					</tr>
				</table></td>
		</tr>
	</table>
</body>
</html>
